.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #75b0ee59;
}
.login-box {
  background-color: #fff;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  overflow: hidden;
}

.login-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
